<!--<h1 style="text-align: center">Form Thêm thông tin công nghệ</h1>-->
<!--<div class="container">-->
<!--  <div *ngIf="message">-->
<!--    <span style="color:red ">{{message}}</span>-->
<!--  </div>-->
<!--  <form [formGroup]="formadd" (ngSubmit)="onSubmit()">-->
<!--    <div class="form-group">-->
<!--      <label><h3>Thêm mới tên công nghệ</h3></label>-->
<!--      <input type="text" class="form-control col-6" placeholder="Enter Name" formControlName="name">-->
<!--    </div>-->
<!--    <div *ngIf="formadd.controls.name?.errors?.required && formadd.controls.name?.touched">-->
<!--      <span style="color: red">Không được để trống~~</span>-->
<!--    </div>-->
<!--    <div *ngIf="formadd.controls.name?.errors?.minlength">-->
<!--      <span style="color: red">It nhất 4 ký tự~~</span>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <button type="submit" class="btn btn-success">-->
<!--        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--        Thêm mới</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->



