<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><img src="../../../assets/anhnen/a56.png" width="250px" height="50px"></a>
  <div *ngIf="info.token">
    <i class="fas fa-user-circle" style="font-size: 18px"></i><b>{{info.username}}</b>
    <button  style="margin-left: 50px" class="btn badge-secondary my-2 my-sm-0" (click)="logout()" type="submit"><i class="fas fa-sign-out-alt" style="font-size: 20px"></i>Đăng xuất</button>
  </div>
</nav>
<!--enctype="multipart/form-data"-->
<div *ngIf="user" id="formedituser">
  <h1>Form Edit User</h1>
  <div *ngIf="isSuccessMessage">
    <div class="alert alert-success" role="alert" style="margin-right: 100px">
      {{messageSuccess}}
    </div>
  </div>
  <div *ngIf="isFailMessage">
    <div class="alert alert-danger" role="alert">
      {{messageFail}}
    </div>
  </div>
  <form [formGroup]="formUser"  (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label>BirthDate</label>
      <input  type="date" class="form-control col-7" name="birthdate" [(ngModel)]="user.birthdate"  formControlName="birthdate">
    </div>
    <div  *ngIf="formUser.controls.birthdate?.errors?.required && formUser.controls.birthdate?.touched">
      <span style="color: red">birthDate is required!!</span>
    </div>

    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control col-7" name="address" [(ngModel)]="user.address"  formControlName="address">
    </div>
    <div  *ngIf="formUser.controls.address?.errors?.required && formUser.controls.address?.touched">
      <span style="color: red"> Địa chỉ không được để trống</span>
    </div>


    <div class="form-group">
      <label>PhoneNumber</label>
      <input type="text" class="form-control col-7" name="phonenumber" [(ngModel)]="user.phonenumber" formControlName="phonenumber">
    </div>
   <div *ngIf="formUser.controls.phonenumber?.errors?.pattern">
     <span style="color: red">Bắt đầu từ số không, và từ 10 - 11 số!!</span>
   </div>
    <div *ngIf="formUser.controls.phonenumber?.errors?.required && formUser.controls.phonenumber?.touched">
      <span style="color: red">Không được để trống!!</span>
    </div>

    <div class="form-group">
      <label>Avatar</label><br/>
       <div *ngIf="user.avatar">
         <img width="250px" src='http://localhost:8080/user/{{user.avatar}}'><br/>
       </div>
      <input type="file"  id="avatar" (change)="selectFile($event)">
    </div>


    <div class="form-group">
   <button class="btn btn-dark" type="submit" id="submit" [disabled]="!formUser.valid">
     <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
     EditUser</button>
    </div>
  </form>
  <a routerLink="/company/list">Về trang Quản lý</a>
</div>


